@import '../../../static/CommonStyles/colors.scss';

#board {
   position: absolute;
   top:5px;
   width: 450px;
   div:nth-child(1) {
      left: 30px;
   }
   div:nth-child(2) {
      left: 180px;
   }
   div:nth-child(3) {
      left: 325px;
   }
}

#board > div {
   position:absolute;
   background-color: $purpur;
   width: 100px;
   color:$yellow;
   border-radius: 5px; 
   font-weight: bolder;
}


