@import '../../static/CommonStyles/colors.scss'; 

@mixin buttonStyle {
   width: 100px;
   color:$yellow;
   cursor:pointer;
   font-weight: bolder;
}

@mixin  buttonDisabled {
         opacity: .5; 
         cursor:not-allowed;
}

#painelControle {
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
      button{
         @include buttonStyle;
          background-color: $violet;
      } 
      button:disabled {
         @include buttonDisabled;
      }
}

#infoButtons {
   button{
      @include buttonStyle;
      margin-left: 6px;
      margin-top:10px;
      background-color:$purpur;
   } 
   button:disabled {
      @include buttonDisabled;
   }
}